.connexion {
  &__formContainer {
    display: flex;
    justify-content: center;
    width: 70vw;
    margin-top: 10vw;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__item {
      padding: 1vw;
      margin: 1vw;
    }
  }
}
