:root {
  
  --color-light: rgb(255, 253, 249);
  --color-verylightblue: rgb(239, 248, 250);
  --color-lightblue: #D9F8FF;
  --color-mediumblue: #5267B0;
  --color-darkblue: #4D5497;
  --color-yellow: rgb(255, 202, 65);
  --color-bubblegumpink: #EA8C8C;
  --color-grey: rgb(130, 130, 130);

}

a {
  color: inherit;
}

.connexion {
  &__formContainer {
    display: flex;
    justify-content: center;
    width: 70vw;
    margin-top: 10vw;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__item {
      padding: 1vw;
      margin: 1vw;
    }
  }
  
  &__infoDev {
    padding: 10px;
    position: fixed;
    top: -100vh;
    background-color: var(--color-mediumblue);
    color: var(--color-lightblue);
    font-weight: bold;
  }
  &__item {
    margin: 5px;
  }
}

.--showInfo {
  top: 150px;
}