@use './abstract/colors'as color;
@use './abstract/sizes'as size;

.frontPage {

  &__container {

    position: relative;
    padding-top: 15vh;
    width: 100%;
    height: 100%;

    &__presentation {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-bottom: 15vh;

      &--first {

        width: 90vw;
      }

      &__bubble {

        max-width: 50vw;
        width: 50vw;
        max-height: 80vh;
        height: 80vh;
        background-image: url(../assets/home/formes_geometriques/Ellipse_2.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        display: flex;
        justify-content: center;
        z-index: 2;

      }

      &__image {

        &__wizard {

          max-width: 35vh;
        }

        &__book {

          max-width: 45vh;
        }

        &__crystal {

          max-width: 45vh;
        }
      }

      &__text {
        flex: none;
        display: inline-block;
        max-width: 25vw;
        width: 25vw;
        color: color.$mediumblue;
        font-style: normal;
        font-weight: bold;
        font-size: 500%;
        line-height: 84px;
        letter-spacing: -0.06em;
        text-align: center;

        z-index: 2;

      }
    }

    &__upperPolygon {
      position: absolute;
      top: 0;
      left: 0;
      width: 60%;
      height: 50%;
      background: no-repeat url('./../assets/home/formes_geometriques/Polygon_4.png');
      background-size: 100% 100%;
      z-index: 1;
    }

    &__lowerPolygon {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 60%;
      height: 50%;
      background: no-repeat url('./../assets/home/formes_geometriques/Polygon_3.png');
      background-size: 100% 100%;
      z-index: 1;
    }
  }
}
