html {
  font-family: 'Domine', serif;

}

:root {

  --color-light: rgb(255, 253, 249);
  --color-verylightblue: rgb(239, 248, 250);
  --color-lightblue: #D9F8FF;
  --color-mediumblue: #5267B0;
  --color-darkblue: #4D5497;
  --color-yellow: rgb(255, 202, 65);
  --color-bubblegumpink: #EA8C8C;
  --color-grey: rgb(130, 130, 130);

}

img {
  max-width: 400px;
}

.body {
  min-height: 100vh;
}

.frontPage {
  &__container {

    margin: 10vh;

    &__presentation {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 90vw;
      margin-bottom: 25vh;

      &__text {
        max-width: 25vw;
        color: var(--color-mediumblue);
        font-style: normal;
        font-weight: bold;
        font-size: 74px;
        line-height: 84px;
        letter-spacing: -0.06em;
      }
    }
  }
}
