@use './abstract/colors'as color;
@use './abstract/sizes'as size;

/*----------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/

.infouser {
  padding: 10px;
  position: absolute;
  width: 25%;
  min-height: 50px;
  top: 0;
  right: -100vw;
  transition: right 1500ms;
  border-radius: 0 0 0 10px;
  background-color: color.$mediumblue;
  color: color.$lightblue;
  font-weight: bold;
  z-index: 100;

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border-radius: 0 0 0 20%;
    background-color: color.$verylightblue;
    color: color.$darkblue;
    cursor: pointer;
    z-index: 101;
  }

  &__info {
    font-size: 1.5rem;
    margin: 10px;
  }

  &__item {
    margin: 10px 0;
  }
}

.--showInfo {
  right: 0;
  transition: right 300ms;
}
