:root {
  --color-light: rgb(255, 253, 249);
  --color-verylightblue: rgb(239, 248, 250);
  --color-lightblue: #D9F8FF;
  --color-mediumblue: #5267B0;
  --color-darkblue: #4D5497;
  --color-yellow: rgb(255, 202, 65);
  --color-bubblegumpink: #EA8C8C;
  --color-grey: rgb(130, 130, 130);
}


.stdLogin {
  &__container {
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__formContainer {
    width: 50%;
    max-width: 700px;
    padding: 100px 80px 20px 90px;
    border: 2px solid var(--color-yellow);
    border-radius: 10px;
    background-color: var(--color-verylightblue);


  }

  &__form {
    display: flex;
    flex-direction: column;

    &__item {
      font-family: 'PT Mono', serif;
      font-weight: bolder;
      color: var(--color-grey);
      padding: 10px;
      margin: 10px;

      & type[input] {
        border: 1px solid var(--color-grey);
      }
    }

    &__buttonRow {
      display: flex;
      margin: 8px;

      & button {
        border-radius: 10px;
        background-color: var(--color-mediumblue);
        color: var(--color-verylightblue);
        border: none;
      }
    }
  }
}
