@use './abstract/colors'as color;
@use './abstract/sizes'as size;

/*-------------------------------------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/

html {
  font-family: 'Domine', serif;
  background-color: color.$light;
  min-height: 100vh;
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: inherit;
  text-decoration: none;
}

.main__container {
  position: relative;
  overflow: hidden;
  min-height: 82vh;
}


.footer {
  margin-top: 4vh;
  width: 100%;
  height: 5vh;
  background-color: color.$darkblue;
  display: flex;
  align-items: center;
}
