</main>
<footer class="footer">
  <button class="footer__devButton" id="infoDevButton">Cacher les infos (VOUS AVEZ PAS HONTE DE METTRE UN FOOTER EN POSITION FIXED!? :):):):)</button>
</footer>
<script src="/js/app.js"></script>
<script src="/js/showDevButton.js"></script>
</body>

</html>
