</main>
<footer class="footer">
</footer>
<script src="/js/app.js"></script>
<script src="/js/showDevButton.js"></script>
<% if (locals.jsFileUrl) { %>
<script src="<%= jsFileUrl %>"></script>
<% } %>
</body>

</html>
