</main>
<footer class="footer">
  <button class="footer__devButton" id="infoDevButton">Voir les infos pour les devs</button>
</footer>
<script src="/js/app.js"></script>
<script src="/js/showDevButton.js"></script>
</body>
</html>
