</main>
<footer class="footer">
  <button class="footer__devButton" id="infoDevButton">Cacher les infos (ahaha la position fixed c'est pour pas aller chercher le bouton en bas à chaque fois ;-))</button>
</footer>
<script src="/js/app.js"></script>
<script src="/js/showDevButton.js"></script>
</body>

</html>
