<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/connexion.css" />
  <link rel="stylesheet" href="/css/homePage.css" />
  <title>Forum</title>
</head>

<body class="frontPage">
  <header class="frontPage__header">

    <div class="frontPage__header__logo">
      <a href="/"><h1 id="frontPage__title">TOPIC(S)</h1></a>
    </div>


    <nav class="frontPage__header__nav">
      
      
      <ul class="frontPage__header__nav__links">
        <li class="frontPage__header__nav__links__link"><a href="">
          Home
        </a></li>

        <li class="frontPage__header__nav__links__link"><a href="/categories">
          Categories
        </a></li>

        <li class="frontPage__header__nav__links__link"><a href="#">
          About
        </a></li>

      </ul>

      
      <ul class="frontPage__header__nav__links">
        <% if (!session.data.logguedIn) {%>

        <li class="frontPage__header__nav__links__link"><a href="/connexion/stdLogin" >
            Sign in
          </a></li>

        <% } %>

        <% if (session.data.logguedIn) { %>

        <li class="frontPage__header__nav__links__link"><a href="/connexion/disconnect">
            Sign out</a></li>

        <% } %>

      </ul>

    </nav>


  </header>

  <!-- Utiliser en dev pour controler les valeurs des variables lièes à la session -->
  <div class="connexion__loggedIn">session.data.logguedIn : <%= session.data.logguedIn %></div>
  <div class="connexion__userStatus">session.data.userStatus : <%= session.data.userStatus %></div>
  <div class="connexion__info">response.info :
    <% if (typeof info != 'undefined') {%>
    <%= info %>
    <% } else { %>
    pas d'info
    <% } %>
  </div>
  <main>
