<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/connexion.css" />
  <title>Forum</title>
</head>

<body>
  <header class="header">
    <a href="/"><h1 id="title">Quill'Forum</h1></a>
    <nav>
      <ul>
        <% if (!session.data.logguedIn) {%>
        <li><a href="/connexion/stdLogin"> Sign in</a></li>
        <% } %>
        <% if (session.data.logguedIn) {%>
        <li><a href="/connexion/disconnect"> Sign out </a></li>
        <% } %>
        <li><a href="/categories"> Categories </a></li>

      </ul>
    </nav>
  </header>

  <!-- Utiliser en dev pour controler les valeurs des variables lièes à la session -->
  <div class="connexion__loggedIn">session.data.logguedIn : <%= session.data.logguedIn %></div>
  <div class="connexion__userStatus">session.data.userStatus : <%= session.data.userStatus %></div>
  <div class="connexion__info">response.info :
    <% if (typeof info != 'undefined') {%>
    <%= info %>
    <% } else { %>
    pas d'info
    <% } %>
  </div>
  <main>
