<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/connexion.css" />
  <title>Forum</title>
</head>

<body>
  <header class="header">
    <a href="/"><h1 id="title">Quill'Forum</h1></a>
    <nav>
      <ul>
        <li><a href="/connexion"> Connexion </a></li>

        <% categories.forEach(category => {%>

        <li><a href="/categories/<%= category.name %> ">
              <%= category.name %>
            </a></li>

        <% }); %>
      </ul>
    </nav>
  </header>

<!--  -->
<div class="connexion_loggedIn"><%= loggedIn %></div>
<div class="connexion_info"><%= info %></div>
<main>