<%- include("partials/header.ejs", {info: info})%>

<div class="frontPage__container">

   <div class="frontPage__container__presentation">
      <p class="frontPage__container__presentation__text">Anything by Anyone for Everyone</p>
      <img class="frontPage__container__presentation__image__wizard" src="/topics_assets/topics_assets/home/vieil-homme-sorcier-robe-chapeau-se-tient-tenant-personnel-style-dessin-anime-hibou_118421-316.png" alt="Vieux sorcier avec un bâton et un hibou">
   </div>

   <div class="frontPage__container__presentation">
      <img class="frontPage__container__presentation__image__book" src="/topics_assets/topics_assets/home/17843099-ai.png" alt="Livre qui émet des étincelles">
      <p class="frontPage__container__presentation__text">Create and react to all kinds of topics. Our limit is you imagination.</p>
   </div>

   <div class="frontPage__container__presentation">
      <p class="frontPage__container__presentation__text">Make friends and keep in touch with our built-in live chat tool.</p>
      <img class="frontPage__container__presentation__image__crystal" src="/topics_assets/topics_assets/home/crystal-ball-emoji-clipart-lg.png" alt="Boule de cristal">
   </div>

</div>

<%- include("partials/footer.ejs") %>
