:root {
  --color-light: rgb(255, 253, 249);
  --color-verylightblue: rgb(239, 248, 250);
  --color-lightblue: #D9F8FF;
  --color-mediumblue: #5267B0;
  --color-darkblue: #4D5497;
  --color-yellow: rgb(255, 202, 65);
  --color-bubblegumpink: #EA8C8C;
  --color-grey: rgb(130, 130, 130);
}

.connexion__formContainer {
  display: flex;
  justify-content: center;
  width: 70vw;
  margin-top: 4vw;
}
.connexion__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.connexion__form__item {
  padding: 0.5vw;
  margin: 0.5vw;
}
.connexion__infoDev {
  padding: 10px;
  position: fixed;
  top: -100vh;
  background-color: var(--color-mediumblue);
  color: var(--color-lightblue);
  font-weight: bold;
}
.connexion__item {
  margin: 5px;
}

.--showInfo {
  top: 150px;
}