.header {
  position: relative;
  background-color: #eff8fa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 9vh;
}
.header__logo {
  color: #4D5497;
  font-size: 2rem;
}
.header__logo a > h1 {
  font-family: "Suez One", serif;
  font-size: 47px;
  font-style: normal;
  font-weight: 400;
  line-height: 61px;
  letter-spacing: -0.095em;
  text-align: left;
}
.header__nav {
  width: 60%;
  color: #5267B0;
  display: flex;
  justify-content: space-between;
}
.header__nav__links {
  padding: 10px;
  display: flex;
}
.header__nav__links__link {
  font-family: "PT Mono", serif;
  padding: 10px;
  margin-right: 3vw;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 28px;
}
.header__nav__links__link:hover {
  text-decoration: underline wavy;
}
.header__nav__loginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 130px;
  height: 50px;
  font-family: "PT Mono", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  border: 3px solid #4D5497;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 10px;
}
.header__nav__loginButton:hover > a {
  color: #EFF8FA;
  text-decoration: underline wavy;
}
.header__nav__loginButton:hover:before {
  transform: scale(18);
}
.header__nav__loginButton a {
  text-decoration: none;
  z-index: 3;
  color: #5266B0;
  transition: color 450ms;
}
.header__nav__loginButton:before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #5266B0;
  position: absolute;
  bottom: -18px;
  left: -18px;
  transition: transform 400ms ease-in-out;
  z-index: 1;
}