/**************************************/
/*********  CATEGORIES   **************/
/**************************************/
.categories__box__image {
  display: block;
  margin: 0 auto;
  height: 400px;
  width: auto;
  padding: 20px 0;
}
.categories__main__title {
  font: 3rem "Suez One";
  font-weight: 700;
  color: #5267B0;
  text-align: center;
  margin: 120px 0;
}
.categories__main__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.categories__box {
  background-color: #fff;
  width: 48%;
  height: 610px;
  border-radius: 14px;
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.categories__box__title {
  position: absolute;
  top: 50%;
  bottom: 0;
  font-size: 2.5rem;
  padding-left: 60px;
  color: #5267B0;
}
.categories__box__title__container {
  position: relative;
  height: 210px;
  background: no-repeat url(/assets/browse/canvas.png) left;
  background-size: 100%;
}
.categories__box__title:hover {
  text-decoration: underline;
  font-weight: 600;
  text-decoration-style: wavy;
}
.categories__box__title::first-letter {
  text-transform: uppercase;
}

/**************************************/
/*********    TOPICS     **************/
/**************************************/
.categorypage__main__container {
  display: flex;
}

.categories__container {
  margin-top: 100px;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.categories__category__image {
  width: 200px;
  margin: 100px auto 50px;
}
.categories__category__title {
  font: 2rem "PT Mono";
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  color: #5267B0;
  margin-top: 100px;
}
.categories__list__element {
  font: 1.4rem "PT Mono";
  border-radius: 5px;
  font-weight: bold;
  margin-left: 20px;
  color: #5267B0;
  text-align: center;
  width: 180px;
  background-color: #fff;
  padding: 5px 15px;
  border: 1px solid #ea8c8c;
  margin-bottom: 10px;
}
.categories__list__element:hover {
  font-size: 1.5rem;
  transition: font-size 250ms ease-in;
}

.topics__container {
  margin-left: 15%;
  padding: 20px 20px;
}

.topic__container {
  background-color: #fff;
  width: 740px;
  border-radius: 5px;
  border: 4px solid #ffca41;
  overflow: hidden;
  margin: 50px auto 0;
}
.topic__header {
  display: flex;
  height: 300px;
  align-items: center;
  justify-content: center;
}
.topic__header img {
  height: 200px;
}
.topic__description {
  font: 3rem "PT Mono";
  color: #5267B0;
  padding-left: 50px;
  width: 50%;
}
.topic__title {
  font: 2rem "Suez One";
  color: #5267B0;
  padding-top: 25%;
}
.topic__title__container {
  height: 270px;
  background: no-repeat url(/assets/browse/canvas.png) left;
  background-size: 100%;
  padding-left: 8%;
}
.topic__title__author {
  font: 1rem "Suez One";
  color: #5267B0;
}

/**************************************/
/*********TRES TEMPORAIRE**************/
/*********( PAS TAPPER  )**************/
/**************************************/
.topic__form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.topic__form > * {
  margin-top: 1rem;
}

/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
.connexion {
  height: 100%;
  position: relative;
}
.connexion__container {
  margin: auto;
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  width: 100%;
  color: #4D5497;
  margin-bottom: 5vh;
}
@media (max-width: 768px) {
  .connexion__container {
    flex-direction: column;
    margin-top: 5vh;
  }
}
.connexion__commBox {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 20px;
}
@media (max-width: 768px) {
  .connexion__commBox {
    width: 80%;
  }
}
@media (max-width: 400px) {
  .connexion__commBox {
    padding: 10px;
    width: 100%;
  }
}
.connexion__commBox__title {
  padding: 10px;
  font-size: 50px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .connexion__commBox__title {
    font-size: 30px;
  }
}
@media (max-width: 400px) {
  .connexion__commBox__title {
    font-size: 20px;
  }
}
.connexion__commBox__text {
  padding: 10px;
  font-size: 30px;
}
@media (max-width: 768px) {
  .connexion__commBox__text {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .connexion__commBox__text {
    font-size: 15px;
  }
}
.connexion__button__service {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #4D5497;
  border-radius: 5px;
  width: 45%;
  height: 40px;
  margin: 15px 0;
  cursor: pointer;
}
@media (max-width: 768px) {
  .connexion__button {
    margin: 10px 0;
  }
}
.connexion__button__connexion {
  width: 100%;
  height: 40px;
  margin: 15px 0;
  border: none;
  border-radius: 5px;
  background-color: #4D5497;
  color: #fcf9f2;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 768px) {
  .connexion__button__connexion {
    margin: 10px 0;
  }
}
.connexion__button__createProfile {
  width: 50%;
  height: 40px;
  margin: 15px 0;
  border: none;
  border-radius: 5px;
  background-color: #828282;
  color: #fcf9f2;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 768px) {
  .connexion__button__createProfile {
    margin: 10px 0;
  }
}
.connexion__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.connexion__form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border: 1px solid #4D5497;
  border-radius: 10px;
  padding: 20px;
}
@media (max-width: 768px) {
  .connexion__form__container {
    width: 80%;
  }
}
@media (max-width: 400px) {
  .connexion__form__container {
    width: 100%;
    border: none;
    border-radius: 0;
    border-top: 1px solid #4D5497;
    padding: 10px;
  }
}
.connexion__form__buttonRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
.connexion__form__hr {
  width: 100%;
  border: none;
  border-top: 1px solid #4D5497;
  color: #4D5497;
  overflow: visible;
  text-align: center;
  height: 5px;
}
.connexion__form__hr__OR:after {
  background: #fcf9f2;
  content: "OR";
  padding: 0 4px;
  position: relative;
  top: -8px;
}
.connexion__form__input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
}
.connexion__form__forgotPass {
  margin: 20px 0;
  cursor: pointer;
}
.connexion__modale {
  position: absolute;
  top: -200vh;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: #fcf9f2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top 800ms ease-in-out;
}
.connexion__modale__container {
  position: relative;
  max-width: 500px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #4D5497;
  border-radius: 10px;
  padding: 40px;
}
@media (max-width: 768px) {
  .connexion__modale__container {
    width: 80%;
  }
}
@media (max-width: 400px) {
  .connexion__modale__container {
    width: 100%;
    border: none;
  }
}
.connexion__modale__form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
@media (max-width: 768px) {
  .connexion__modale__form__container {
    width: 90%;
  }
}
@media (max-width: 400px) {
  .connexion__modale__form__container {
    width: 100%;
  }
}
.connexion__modale__form__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.connexion__modale__form__row input {
  width: 48%;
}
.connexion__modale__title {
  width: 80%;
  font-size: 30px;
  color: #4D5497;
}
@media (max-width: 768px) {
  .connexion__modale__title {
    width: 90%;
  }
}
@media (max-width: 400px) {
  .connexion__modale__title {
    width: 100%;
  }
}
.connexion__modale__quit {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
}
.connexion__modale__quit img {
  width: 20px;
  cursor: pointer;
}

/*-------------------------------------------------*/
/*-------------------------------------------------*/
.--connexion__show {
  top: 0;
  transition: top 600ms ease-in-out;
}

.header {
  position: relative;
  background-color: #eff8fa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 9vh;
}
.header__logo {
  color: #4D5497;
  font-size: 2rem;
}
.header__logo a > h1 {
  font-family: "Suez One", serif;
  font-size: 47px;
  font-style: normal;
  font-weight: 400;
  line-height: 61px;
  letter-spacing: -0.095em;
  text-align: left;
}
.header__nav {
  width: 60%;
  color: #5267B0;
  display: flex;
  justify-content: space-between;
}
.header__nav__links {
  padding: 10px;
  display: flex;
}
.header__nav__links__link {
  font-family: "PT Mono", serif;
  padding: 10px;
  margin-right: 3vw;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 28px;
}
.header__nav__links__link:hover {
  text-decoration: underline wavy;
}
.header__nav__loginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 130px;
  height: 50px;
  font-family: "PT Mono", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  border: 3px solid #4D5497;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 10px;
}
.header__nav__loginButton:hover > a {
  color: #EFF8FA;
  text-decoration: underline wavy;
}
.header__nav__loginButton:hover:before {
  transform: scale(18);
}
.header__nav__loginButton a {
  text-decoration: none;
  z-index: 3;
  color: #5266B0;
  transition: color 450ms;
}
.header__nav__loginButton:before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #5266B0;
  position: absolute;
  bottom: -18px;
  left: -18px;
  transition: transform 400ms ease-in-out;
  z-index: 1;
}

.frontPage__container {
  position: relative;
  padding-top: 15vh;
  width: 100%;
  height: 100%;
}
.frontPage__container__presentation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 15vh;
}
.frontPage__container__presentation--first {
  width: 90vw;
}
.frontPage__container__presentation__bubble {
  max-width: 50vw;
  width: 50vw;
  max-height: 80vh;
  height: 80vh;
  background-image: url(../assets/home/formes_geometriques/Ellipse_2.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  z-index: 2;
}
.frontPage__container__presentation__image__wizard {
  max-width: 35vh;
}
.frontPage__container__presentation__image__book {
  max-width: 45vh;
}
.frontPage__container__presentation__image__crystal {
  max-width: 45vh;
}
.frontPage__container__presentation__text {
  flex: none;
  display: inline-block;
  max-width: 25vw;
  width: 25vw;
  color: #5267B0;
  font-style: normal;
  font-weight: bold;
  font-size: 500%;
  line-height: 84px;
  letter-spacing: -0.06em;
  text-align: center;
  z-index: 2;
}
.frontPage__container__upperPolygon {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 50%;
  background: no-repeat url("./../assets/home/formes_geometriques/Polygon_4.png");
  background-size: 100% 100%;
  z-index: 1;
}
.frontPage__container__lowerPolygon {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%;
  height: 50%;
  background: no-repeat url("./../assets/home/formes_geometriques/Polygon_3.png");
  background-size: 100% 100%;
  z-index: 1;
}

/*----------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/
.infouser {
  padding: 10px;
  position: absolute;
  width: 25%;
  min-height: 50px;
  top: 0;
  right: -100vw;
  transition: right 1500ms;
  border-radius: 0 0 0 10px;
  background-color: #5267B0;
  color: #D9F8FF;
  font-weight: bold;
  z-index: 100;
}
.infouser__button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  border-radius: 0 0 0 20%;
  background-color: #eff8fa;
  color: #4D5497;
  cursor: pointer;
  z-index: 101;
}
.infouser__info {
  font-size: 1.5rem;
  margin: 10px;
}
.infouser__item {
  margin: 10px 0;
}

.--showInfo {
  right: 0;
  transition: right 300ms;
}

/*-------------------------------------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/
html {
  font-family: "Domine", serif;
  background-color: #fcf9f2;
  min-height: 100vh;
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: inherit;
  text-decoration: none;
}

.main__container {
  position: relative;
  overflow: hidden;
  min-height: 82vh;
}

.footer {
  margin-top: 4vh;
  width: 100%;
  height: 5vh;
  background-color: #4D5497;
  display: flex;
  align-items: center;
}

/*------------------------------------------*/
/*------------------------------------------*/
/*------------------------------------------*/
.profile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #4D5497;
}
.profile__title {
  width: 90%;
  max-width: 600px;
  font-size: 30px;
  margin: 5vh 0;
}
.profile__forms {
  display: flex;
  width: 90%;
  max-width: 600px;
  padding: 10px 20px;
  flex-direction: column;
  justify-content: center;
  background-color: #fcf9f2;
  border-top: 1px solid #4D5497;
}
.profile__formContainer {
  display: block;
  width: 100%;
  height: 50px;
  overflow: hidden;
  transform: scale(1);
  transition: transform 100ms ease-in-out;
  padding: 20px 0;
  border-bottom: 1px solid #d4d4d4;
}
.profile__formContainer__titleRow {
  display: flex;
  padding: 5px;
  cursor: pointer;
}
.profile__formContainer__titleRow__name {
  width: 25%;
  font-size: 1.2em;
}
.profile__formContainer__titleRow__actual {
  width: 55%;
  opacity: 0.7;
}
.profile__formContainer__titleRow__modify {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}
.profile__formContainer__titleRow__modify i {
  display: none;
}
.profile__formContainer:hover {
  transform: scale(1.005);
  transition: transform 100ms ease-in-out;
}
.profile__formContainer:hover .profile__formContainer__titleRow__modify {
  justify-content: space-between;
}
.profile__formContainer:hover .profile__formContainer__titleRow__modify i {
  display: inline;
}
.profile__form {
  display: flex;
  flex-direction: column;
}
.profile__form__inputRow {
  width: 100%;
  justify-content: flex-end;
  display: flex;
}
.profile__form__item {
  margin: 5px;
  padding: 8px;
  width: 40%;
  border: none;
}
.profile__form__buttonRow {
  padding: 10px 0 0 0;
  display: flex;
  justify-content: center;
}
.profile__form__button {
  padding: 8px;
  margin: 5px;
  background-color: #4D5497;
  color: #fcf9f2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.profile__form__close {
  padding: 8px;
  margin: 5px;
  background-color: #eff8fa;
  color: #4D5497;
  border: 1px solid #4D5497;
  border-radius: 5px;
  cursor: pointer;
}

.--showProfileForm {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
}