/*----------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/
.infouser {
  padding: 10px;
  position: absolute;
  width: 25%;
  min-height: 50px;
  top: 0;
  right: -100vw;
  transition: right 1500ms;
  border-radius: 0 0 0 10px;
  background-color: #5267B0;
  color: #D9F8FF;
  font-weight: bold;
  z-index: 100;
}
.infouser__button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  border-radius: 0 0 0 20%;
  background-color: #eff8fa;
  color: #4D5497;
  cursor: pointer;
  z-index: 101;
}
.infouser__info {
  font-size: 1.5rem;
  margin: 10px;
}
.infouser__item {
  margin: 10px 0;
}

.--showInfo {
  right: 0;
  transition: right 300ms;
}