.stdLogin__container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.stdLogin__formContainer {
  width: 50%;
  max-width: 700px;
  padding: 80px 80px 20px 90px;
  border: 2px solid var(--color-yellow);
  border-radius: 10px;
  background-color: var(--color-verylightblue);
}
.stdLogin__form {
  display: flex;
  flex-direction: column;
}
.stdLogin__form__item {
  font-family: "PT Mono", serif;
  font-weight: bolder;
  color: var(--color-grey);
  padding: 10px;
  margin: 10px;
}
.stdLogin__form__item type[input] {
  border: 1px solid var(--color-grey);
}
.stdLogin__form__buttonRow {
  display: flex;
  margin: 8px;
}
.stdLogin__form__buttonRow button {
  border-radius: 10px;
  background-color: var(--color-mediumblue);
  color: var(--color-verylightblue);
  border: none;
}