$light: rgb(252, 249, 242);
$light-hover: rgb(249, 246, 239);
$verylightblue: rgb(239, 248, 250);
$lightblue: #D9F8FF;
$mediumblue: #5267B0;
$darkblue: #4D5497;
$yellow: rgb(255, 202, 65);
$bubblegumpink: #EA8C8C;
$grey: rgb(130, 130, 130);
